.slider {
  width: 100%;
  max-width: 1400px;
  height: 600px;
  margin: auto;
  position: relative;
  .item {
    width: 100%;
    > div {
      position: unset !important;
    }
  
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .slick_dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
    li {
      border-radius: 50%;
      background-color: black;
      border: 2px solid black;
      width: 8px;
      height: 8px;
      &:global(.slick-active) {
        background-color: white;
      }
      button {
        opacity: 0;
        width: 100%;
        cursor: pointer;
      }
    }
  }
  &:hover {
    .slick_dots {
      pointer-events: all;
      transform: translateY(0);
      opacity: 1;
      transition: 0.4s;
    }
  }
}