.community_page {
    position: relative;
    .left_flower{
        position: absolute;
        top: 360px;
        left: calc(50vw + 527px/2 + 60px );
        transform: translateX(-50%);
        opacity: 0.4;
        z-index: 1;
    }
    .right_flower{
        position: absolute;
        top: -38px;
        right: calc(50vw + 527px/2 + 60px );
        transform: translateX(50%);
        opacity: 0.4;
        z-index: 1;
    }
    .community_page_wrapper{
        padding-top: 72px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #fafafa;
        position: relative;
        .right_community {
            position: fixed;
            left: calc(50vw + 527px/2 + 81px);
            .hastag_title {
                font-weight: 800;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 8px;
            }
            .hastag {
                width: fit-content;
                padding: 8px 13px;
                border: 1px solid #DADAE4;
                border-radius: 8px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #7A779D;
                margin-bottom: 4px;
            }
        }
        .left_community {
            position: fixed;
            right:calc(50vw + 527px/2 + 81px);
            h4 {
                margin: 0 0 8px;
            }
            .right_sidebar_top {
                padding-bottom: 32px;
                margin-bottom: 24px;
                border-bottom: 1px solid #DADAE4;
            }
        }
        .community_main_content {
            
            width: 527px;
            margin-left: auto;
            margin-right: auto;
            .user_info_box {
                position: relative;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 16px;
                padding: 16px;
                box-shadow: 0px 16px 16px rgba(205, 204, 221, 0.25);
                border-radius: 8px;
                background: #FFFFFF;
                z-index: 3;
                .user_info_right{
                    width: 84%;
                    min-height: 75px;
                    h4 {
                        margin-top: 4px;
                        margin-bottom: 0;
                    }
                    .user_address{
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 18px;
                        margin-bottom: 5px;
                    }
                    .user_role {
                        background: #F9D311;
                        border-radius: 24px;
                        padding: 4px 12px;
                        color: white;
                        max-width: 78px;
                        text-align: center;
                    }
                    .user_blog_info_wrapper {
                        margin-top: 8px;
                        display: flex;
                        flex-direction: row;
                        .blog_info {
                            
                            width: fit-content;
                            padding-right: 37px;
                            padding-left: 16px;
                            border-right: 1px solid #DADAE4;
                            h3 {
                                margin: 0;
                            }
                            p {
                                margin-top: 0;
                            }
                        }
                        
                    }
                }
            }
            .community_show_post {
                width: 100%;
                .post_choose{
                    
                    h4 {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303D50;
                    }
                    .menu_choose {
                        display: flex;
                        flex-wrap:nowrap;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 8px;
                        .item {
                            &:hover {
                                background-color: #F9D311;
                            }
                            width: 100px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            aspect-ratio: 1;
                            box-shadow: 0px 16px 16px rgba(205, 204, 221, 0.25);
                            border-radius: 8px;
                            padding: 14px 8px 6px 4px;
                            p {
                                font-weight: 600;
                                font-size: 10px;
                                line-height: 14px;
                                text-align: center;
                                color: #020202;
                            }
                        }
                    }
                }
            }
            .blog_comment_wrapper {
                .blog_comment{
                    box-shadow: 0px 16px 16px rgba(205, 204, 221, 0.25);
                    border-radius: 8px;
                    margin-top: 16px;
                    padding: 12px 16px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    background: #FFFFFF;
                    z-index: 4;
                    .comment_header{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .comment_header_left {
                            width: 15%;
                        }
                        .comment_header_right{
                            width: 80%;
                            .comment_info {
                                h5 {
                                    margin-top: 0;
                                    margin-bottom: 0;
                                    span {
                                        font-weight: 400;
                                        font-size: 13px;
                                        line-height: 18px;
                                    }
                                }
                            }
                            .vote_date {
                                margin: 9px 0 16px;
                                display: flex;
                                .star {
                                    display: flex;
                                    width: 105px;
                                    justify-content: space-between;
                                    margin-right: 8px;
                                }
                                .date {
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 18px;
                                }
                            }
                            .comment_content {
                                font-weight: 400;
                                font-size: 13px;
                                line-height: 18px;
                                color: #24242F;
                            }
                        }
                    }
                    .comment_images{
                        padding-top: 16px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        img {
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}