.magazine .img-banner{
    width: 100%;
}
.magazine .title-1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    color: #FFFFFF;
    position: absolute;
    top: 43%;
    width: 100%;
    text-align: center;
}
.magazine .group-banner-small{
    display: flex;
    position: absolute;
    top: 57%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.magazine .title-small{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #F9D311;
    text-align: center;
    margin-bottom: 2px;
}
.magazine .content-small{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #303D50;
    margin-top: 2px;
}
.magazine .group-content{
    position: absolute;
    top:75%;
    padding: 32px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 16px 16px rgba(205, 204, 221, 0.25);
    border-radius: 0px 8px 8px 0px;
    width: 66%;
}
.magazine .small-banner{
    width: 85%;
}
.magazine .section-main{
    margin-left: 104px;
    margin-right: 104px;
}
.magazine .start{
    text-align: start;
}
.magazine .url{
    text-decoration: none;
    max-width: 596px;
    margin-right: 40px;
}
.magazine .img{
    width: 100%;
    max-width: 596px;
    object-fit: cover;
}
.magazine .section01{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}
.magazine .line{
    border: 1px solid #DADAE4;
    margin-top: 71px;
    margin-bottom: 56px;
}
.magazine .section02 img{
    max-width: 401px;
}
.magazine .section02 .url{
    max-width: 401px;
}
.magazine .section02 .small-url{
    max-width: 401px;
    margin-right: 14px;
    height: 224px;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 40px;
}
.magazine .section02 .list-url{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.magazine .section02 .content-small{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #24242F;
}
.magazine .section02 .title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #303D50;
}
.magazine .section02 .option{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    color: #344763;
    border: 1px solid #E2E5E9;
    border-radius: 24px;
    padding: 11px 48px;
    margin-right: 16px;
    margin-top: 8px;
}
.magazine .section02 .list-option{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 1450px) {
    .magazine .section02 .small-url{
        max-width: 350px;
        margin-right: 10px;
    }
    .magazine .section02 img{
        max-width: 350px;
    }
}
@media (max-width: 1288px) {
    .magazine .section02 .small-url{
        max-width: 500px;
        margin-right: 10px;
    }
    .magazine .section02 img{
        max-width: 500px;
    }
}
@media (max-width: 1080px) {
    .magazine .section02 .small-url{
        max-width: 450px;
        margin-right: 10px;
    }
    .magazine .section02 img{
        max-width: 450px;
    }
}
@media (max-width: 993px) {
    .magazine .section02 .list-option{
        flex-wrap: wrap;
    }
    .magazine .section02 .list-url{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .magazine .section02 .small-url{
        max-width: 500px;
        margin-right: 0px;
    }
    .magazine .section02 img{
        max-width: 500px;
    }
}
@media (max-width: 600px) {
    .magazine .section02 .small-url{
        max-width: 100%;
        margin-right: 0px;
    }
    .magazine .section02 img{
        max-width: 100%;
    }
}
@media (max-width: 1200px) {
    .magazine .section-main{
        margin-left: 50px;
        margin-right: 10px;
    }
}
@media (max-width: 1041px) {
    .magazine .title-1{
        top: 20%;
    }
    .magazine .group-banner-small{
        top:34%;
    }
}
@media (max-width: 992px) {
    .magazine .section01{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .magazine .section-main{
        margin-left: 50px;
        margin-right: 50px;
    }
    .magazine .url{
        margin-right: 0px;
    }
    .magazine .start{
        text-align: center;
    }
}
@media (max-width: 768px) {
    .magazine .section01{
        margin-top: 250px;
    }
}
@media (max-width: 705px) {
    .magazine .title-1{
        top: 14%;
    }
}
@media (max-width: 500px) {
    .magazine .section01{
        margin-top: 350px;
    }
}